<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption>
            Categories
        </caption>
        <thead>
            <th>Description</th>
        </thead>
        <tbody class="uk-text-left">
        {{#each categories}}
            <tr>
                <td>{{categoryName}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>