<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-primary uk-card-body uk-box-shadow-large">
    <h3 class="uk-card-title">Category Maintenance</h3>
    <form class="uk-form-horizontal" action="/category" method="POST">
        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Enter Category: </label>
            <div class="uk-form-controls">
                <input type="text" class="uk-input" name="categoryName" placeholder="Category">
            </div>
        </div>
        <p uk-margin>
            <input type="submit" value="Add Category" class="uk-button uk-button-default">
        </p>
    </form>
</div>