<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Visit Wexford" subTitle="Images"}}
    {{> main-menu }}
</div>

<h1 class="uk-heading-divider uk-text-center">{{location}}</h1>

<div class="uk-container uk-padding-small">
    <div class="uk-child-width-1-4@s uk-flex uk-flex-center" uk-grid uk-height-match="target: .uk-card">
        {{#each images}}
            {{> card}}
        {{/each}}
    </div>
</div>
