<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Visit Wexford" subTitle="View Places of Interest"}}
    {{> main-menu }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-auto uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-expand@m">
            {{> poi-list}}
        </div>
        <div class="uk-width-auto@m">
            <img width="200" src="images/crest1.jpg">
        </div>
    </div>
</div>